*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
a{
    text-decoration: none;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 450px;
    grid-gap: 20px;
    
    height: 100vh;
    margin: 50px auto;
}
.item-1{
background-color: blue;
border-radius: 20px;
padding-left: 40px;
padding-top: 15px;
color: white;
width: 400px;
height: 460px;

background-image: linear-gradient( rgb(224, 79, 157), rgb(119, 12, 182));
}
.item{
    background-color: rgb(243, 249, 253);
    border-radius: 20px;
    width: 400px;
    height: 460px;
    color: black;
    border: 1px solid gray;
    padding-left: 40px;
padding-top: 15px;
}
.item:hover{
 background-color: rgb(131, 231, 148);
 transition: 400ms;
}